        /* width */
        ::-webkit-scrollbar {
            width: 4px;
            height: 4px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #fff;
        }


        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #666;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #000;
        }

        @font-face {
            font-family: alliance;
            src: url(./fonts/alliance/alliance-no-2-regular.woff2);
        }

        body {
            font-family: 'alliance', sans-serif;
            margin: 0;
            background-color: #fff;
            color: #888;
            font-family: Monospace;
            font-size: 13px;
            line-height: 24px;
            overscroll-behavior: none;
            margin-bottom: 8em;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            font-family: 'alliance', sans-serif;
            margin: 0;
        }

        p {
            margin-top: 1em;
        }

        a {
            color: #666;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        button {
            cursor: pointer;
            text-transform: uppercase;
        }

        #info {
            position: fixed;
            top: 0;
            width: 100%;
            box-sizing: border-box;
            margin: 0 auto;
            margin-top: 2em;
            text-align: left;
            margin-left: 2em;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            pointer-events: none;
            z-index: 1;
            /* TODO Solve this in HTML */
        }

        a,
        button,
        input,
        select {
            pointer-events: auto;
        }

        .dg.ac {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            z-index: 2 !important;
            /* TODO Solve this in HTML */
        }

        #overlay {
            position: absolute;
            font-size: 16px;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background: rgba(0, 0, 0, 0.7);
        }

        #overlay button {
            background: transparent;
            border: 0;
            border: 1px solid rgb(255, 255, 255);
            border-radius: 4px;
            color: #ffffff;
            padding: 12px 18px;
            text-transform: uppercase;
            cursor: pointer;
        }

        #notSupported {
            width: 50%;
            margin: auto;
            background-color: #f00;
            margin-top: 20px;
            padding: 10px;
        }

        .container {
            width: 65%;
            margin: 0 auto;
            margin-top: 5em;
            margin-bottom: 5em;
            overflow: hidden;
            border-style: none;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: transparent;
            color: #666;
            text-align: left;
            margin-left: 2em;
            margin-bottom: 2em;
        }
